:root {
    --color-bg: #323031;
    --color-font: #f7f5fb;
    --color-accent: #9a2ca0;
    --color-accent-2: #009ddc;
}

/* Global Settings */

body {
    color: var(--color-font);
    background-color: var(--color-bg);
    box-sizing: border-box;
    font-family: 'Orbitron', 'Helvetica Neue', Helvetica, Arial;
    overflow-x: hidden;
}

p {
    letter-spacing: 2px;
}

ul {
    list-style-type: none;
}

/* Nav Bar */

.navbar {
    color: var(--color-font) !important;
    background-color: var(--color-bg) !important;
    animation: navFadeIn 1s ease 0s 1 normal forwards;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.2s ease;
}

.navbar-brand:hover {
    color: var(--color-accent) !important;
}

.nav-link:hover {
    color: var(--color-accent) !important;
}

/* Hero Section */

.hero {
    height: fit-content;
    width: fit-content;
}

.hero-content {
    height: 100vh;
    width: 100vw;
}

.men {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/pictures/mens.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: fadeInMen 2s ease 0s 1 normal forwards;
}

.women {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/pictures/womans.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: fadeInWomen 2s ease 0s 1 normal forwards;
}

.btn-primary {
    width: 100px;
    height: 50px;
    background-color: var(--color-bg);
    color: var(--color-font);
    border: 3px solid var(--color-accent);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.btn-primary:hover {
    border: none;
    scale: 1.2;
    background-color: var(--color-accent);
    color: var(--color-bg);
}

/* Outfits Section */

.outfit-image {
    width: 100%;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* offcanvas */

.offcanvas {
    background-color: var(--color-bg);
    color: var(--color-font);
}

.btn-close {
    background-color: var(--color-font) !important;
}

.offcanvasItem {
    text-decoration: none;
    color: var(--color-font);
    font-size: x-large;
}

.offcanvasItem:hover {
    color: var(--color-accent);
}

.newArrivals {
    font-weight: bolder;
    font-size: 1.75rem;
}

/* Footer */

.footer {
    background-color: var(--color-bg);
    color: var(--color-font);
    padding: 20px;
}

.fa-brands {
    margin: 1rem;
    color: var(--color-accent);
    transition: all 0.2s ease;
}

.fa-brands:hover {
    cursor: pointer;
    transform: scaleY(-1);
}

.fa-brands:active {
    scale: 1.5;
}

.contact-container {
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Classes for JavaScript */

.notInView {
    opacity: 0;
    transition: all 1s ease;
    transform: translateX(80px);
}

.inView {
    opacity: 1;
    transform: none;
    transition-delay: 0.2s;
}

/* Dynamically Created Subscribe Validations */

.subscribed {
    width: fit-content;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: var(--color-accent);
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.5rem;
    animation: messageFadeIn 1.5s ease-in normal forwards;
}

.not-subscribed {
    width: fit-content;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: orangered;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.5rem;
    animation: messageFadeIn 1.5s ease-in forwards;
}

/* Animations */

@keyframes navFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        letter-spacing: 0.5px;
    }
}

@keyframes fadeInMen {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInWomen {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes messageFadeIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}